<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheet.css">
    <title>Gettin' Fibonacci Wit It</title>
  </head>

  <body>
    <img src="../public/fibonacci.jpeg">
    <!-- <%= %> -->
  </body>
</html>
